form {
  position: relative;
  animation: width 1s ease-in-out 2s forwards;
  width: 100px;
  input {
    height: 60px;
    border: 0.1px solid #e7d4a3;
    border-radius: 50px;
    background: transparent;
    padding: 0 2rem;
    width: 100%;
    color: #e7d4a3;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Josefin Sans", sans-serif;
    outline: none;
    &::placeholder {
      color: #e7d4a385;
      font-weight: 700;
      font-family: "Josefin Sans", sans-serif;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#e7d4a3, #d77b00);
    border: none;
    border-radius: 50px;
    padding: 0 1rem;
    width: 120px;
    transform: scale(1.05);
    height: 100%;
    font-weight: 700;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0 0 300px hsla(0, 0%, 100%, 0.224),
        0 0 10px 5px rgba(0, 0, 0, 0.152);
      transform: scale(1.1);
    }
  }
}

.error__text {
  display: none;
  color: #ffe0e8;
  margin: 0.5rem 1rem 0;
  text-align: left;
}

.post-success {
  display: none;
  font-size: 2rem;
  color: #fee9b2;
}
