@use "mixins" as mix;

body {
  background-color: #65391f;
  &::before {
    content: "";
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.12)),
      url(/assets/hero.png) no-repeat center;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    animation: background 2s ease-in-out forwards;
  }
}

.logo {
  width: 158px;
  height: 33px;
}

main {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  padding: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: #ccbfc4;
  font-size: 2.5rem;
  text-transform: uppercase;
  span.were {
    color: transparent;
    -webkit-text-stroke: 1px #e7d4a3;
    animation: stroke 2s linear;
  }
}

p {
  color: #fee9b2;
  margin: 2rem 0;
}

.desktop-header {
  display: none;
}

.ring:nth-child(2) {
  @include mix.ring(150px, #ccbfc4, 0.5s);
  top: 5rem;
  left: -3rem;
}
